.home-outer {
    display: flex;
    /* flex-direction: column; */
}

.home-container.sidebar {
    min-width: 219px;
    /* height: 100%; */
    /* background-color: #3F0E40;
    background-color: #443642;
    background-color: #2a2d32; */
    /* background-color: #19171D; */
    background-color: rgba(24,22,29,1);
    border-right: 1px solid #333137;
    height: 100vh;
    /* border-right: 1px solid #2a2d32; */
}

.workplace {
    font-family: Lato, sans-serif;
    font-size: 25px;
    line-height: 1.33334;
    font-weight: bolder;
    color: white;
    /* display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px;
}

.logo {
    text-decoration: none;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.contacts {
    display: flex;
    justify-content: space-around;
}

.contacts-git, .contacts-link {
    transition: all 0.2s;
}

.contacts-git:hover, .contacts-link:hover {
    transition: all 0.2s;
    width: 34px;
    margin-bottom: -2px;
    margin-right: -2px;
    margin-left: -2px;
    margin-top: -2px;
}

.prof-list {
    display: none;
    /* position: absolute; */
    position: fixed;
    /* top: 0; */
    /* bottom: 0; */
    left: 15px;
    top: 60px;
    /* left: 0; */
    /* background: rgba(0, 0, 0, 0.7); */
    /* z-index: 10; */
    background-color: #222429;
    box-shadow: 0 0 0 1px rgba(232,232,232,0.13),0 4px 12px 0 rgba(0,0,0,.12);
    /* background-color: rgba(var(--sk_foreground_min_solid,248,248,248),1); */
    border-radius: 6px;
    /* width: 300px; */
    /* max-width: 360px; */
    min-width: 40px;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    /* padding-left: 0px; */

}

.prof-list.active {
    display: block;
}

.home-top {
    cursor: pointer;
    margin:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* z-index: 2; */
}

.home-top:hover {
    background-color: #121016;
}

.home-top:hover .sidebar-username {
    color: rgb(209, 210, 211);
    /* color: #FFFFFF; */
}

.home-top:hover .down-arrow {
    filter: invert(1);
}

.outer-log-dropdown {
    position: fixed;
    /* opacity: 0; */
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    /* z-index: 1; */
    /* cursor: default; */
}

.fake-search {
    border-radius: 4px;
    background-color: #343338;
    color: #A3A3A6;
    font-family: Lato, sans-serif;
    font-size: 15px;
    /* font-weight: 200px; */
    /* margin-top: -1px; */
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    font-weight: 300;
}

.fake-search:hover {
    background-color:#d1d2d333;
}

.title-and-create {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.channels-header {
    font-family: Lato, sans-serif;
    color: rgb(163,163,166);
    font-size: 15px;
    padding-left: 15px;
    margin-top: 13px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    font-weight: 600;
    /* width: 50%; */
    text-decoration: none;
}

/* .create-link { */
    /* margin-top: 18px; */
    /* color: white; */
    /* content: "\E228"; */
    /* font-family: Slack v2;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    flex-shrink: 0;
    opacity: .64;
    line-height: 1;
    content: "\E228";
    transition: opacity .1s ease-out; */
/* } */

.create-button {
    margin-top: 14px;
    filter: invert(0.7);
    padding-right: 12px;
    /* padding-top: 2px; */
}


.create-button:hover {
    filter: invert(1);
}

.dm-button-thing {
    margin-bottom: 4px;
}
.dms-create-link {
    text-decoration: none;
}



.channels-ul {
    font-family: Lato, sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(163,163,166);
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    /* padding-left: 12px; */
    padding-bottom: 5px;
}

.channels-ul a {
    text-decoration: none;
    color: rgb(163,163,166);
}

.channel-li {
    padding: 4px;
    padding-left: 16px;
    font-weight: 300;
    color: rgb(163,163,166);
    /* transition: 0.5s; */
    /* -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /* color: buttontext; */
    /* letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none; */
}

.channel-li:hover {
    background-color: #443642;
    /* background-color: #9a9c9e; */
    /* color: whitesmoke; */
    /* transition: 0.5s; */
}

.current {
    /* background-color: #1064a3 !important; */
    background-color: rgb(91, 65, 91);
    color: #FFFFFF;
}

.current:hover {
    background-color: rgb(91, 65, 91);
    color: #FFFFFF;
}

.hashtag {
    padding-right: 5px;
    color:#707074;
}

.filler {
    background-color: #443642;
    background-color: #191c21;
    height: 100vh;
    width: 89vw;
}

.add-ch {
    margin-top: 20px;
}

.sidebar-username {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(163,163,166);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    /* padding-left: 25px; */
    cursor: pointer;
}

.online {
    filter: invert(1);
    padding-left: 16px;
    padding-top:5px;
    padding-right: 4px;
    width: 9px;
    height: 9px;
    /* margin-bottom: -3px; */
}

.sidebar-username-container {
    display: flex;
    /* position: relative; */
}

.down-arrow {
    /* position: absolute; */
    /* left: 100px; */
    padding-left: 5px;
    margin-bottom: -3px;
    /* bottom: 30px; */
    /* display: static; */
    /* margin-top: 5px; */
    filter: invert(0.75);
}

.ch-dm-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 159px);
}

.title-browse {
    text-decoration: none;
}