.home-outer {
    display: flex;
    /* flex-direction: column; */
}

.home-container.sidebar {
    min-width: 220px;
    /* height: 100%; */
    background-color: #3F0E40;
    background-color: #443642;
    background-color: #2a2d32;
    overflow-y: scroll;
    height: 100vh;
    /* border-right: 1px solid #2a2d32; */
}

.workplace {
    font-family: Lato, sans-serif;
    font-size: 25px;
    line-height: 1.33334;
    font-weight: bolder;
    color: white;
    /* display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 12px;
}

.sidebar-username {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #CFC3CF;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 12px;
}

.logo {
    text-decoration: none;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.title-and-create {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.channels-header {
    font-family: Lato, sans-serif;
    color: #CFC3CF;
    font-size: 15px;
    padding-left: 12px;
    margin-top: 13px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    /* width: 50%; */
}

.create-link {
    margin-top: 13px;
    /* color: white; */
    /* content: "\E228"; */
    /* font-family: Slack v2;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    flex-shrink: 0;
    opacity: .64;
    line-height: 1;
    content: "\E228";
    transition: opacity .1s ease-out; */
}

.create-button {
    filter: invert(0.7);
    padding-right: 3px;
}

.create-button:hover {
    filter: invert(1);
}

.channels-ul {
    font-family: Lato, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #CFC3CF;
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    /* padding-left: 12px; */
    padding-bottom: 5px;
}

.channels-ul a {
    text-decoration: none;
    color: #CFC3CF;
}

.channel-li {
    padding: 4px;
    padding-left: 18px;
    font-weight: 50;
    transition: 0.5s;
}

.channel-li:hover {
    background-color: #443642;
    color: whitesmoke;
    transition: 0.5s;
}

.hashtag {
    padding-right: 5px;
}

.filler {
    background-color: #443642;
    height: 100vh;
    width: 89vw;
}

.add-ch {
    margin-top: 20px;
}