.channel-name {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    /* margin-left: 30px; */
    font-weight: 900;
    margin-bottom: 0px;
    /* margin-top: 14px; */
    color: #D1D2D3;
    margin-top: 10px;
    margin-left: 21px;
}
/* 
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.outer-layer-dropdown {
    position: fixed;
    /* opacity: 0; */
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    /* z-index: 0; */
}

.cog-list {
    display: none;
    /* position: absolute; */
    position: fixed;
    /* top: 0; */
    /* bottom: 0; */
    right: 30px;
    top: 47px;
    /* left: 0; */
    /* background: rgba(0, 0, 0, 0.7); */
    /* z-index: 10; */
    background-color: #222429;
    box-shadow: 0 0 0 1px rgba(232,232,232,0.13),0 4px 12px 0 rgba(0,0,0,.12);
    /* background-color: rgba(var(--sk_foreground_min_solid,248,248,248),1); */
    border-radius: 6px;
    /* width: 300px; */
    /* max-width: 360px; */
    min-width: 150px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 0px; */

}

/* .cog-list.active {
    z-index: 1;
} */

.active {
    display: block;
}

/* .outer-layer-dropdown.active {
    z-index: 2
} */

.cog-li {
    list-style: none;
    /* padding: 10px; */
    padding-top: 4px;
    padding-bottom: 5px;
    padding-right: 24px;
    padding-left: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #D1D2D3;
    cursor: pointer;
    min-width: 120px;
}

.cog-li:hover {
    /* background-color: #1064a3; */
    background-color: #443642;
    color: #FFFFFF;
}

.profile-icon {
    margin-top: 5px;
    margin-right: 9px;
    border-radius: 3px;
}

.message {
    display: flex;
    justify-content: left;
    list-style: none;
    color: #1D1C1D;
    color: whitesmoke;
    color: #D1D2D3;
    font-family: Lato, sans-serif;
    /* font-size: 15px; */
    line-height: 1.46668;
    padding-left: 20px;
    padding-top: 3px;
    margin-bottom: 0px;
    /* padding-bottom: 4px; */
}


.message:hover {
    background-color: #222429;
}

.message-author {
    font-size: 15px;
    /* font-weight: 900; */
    margin-bottom: 0px;
    margin-top: 0px;
    /* color: #D1D2D3; */
    /* color: rgb(188, 221, 222); */
}

.message-author span {
    font-size: 12px;
    font-weight: 300;
    color: #616061;
    color: #D1D2D3;
}

.message-msg {
    margin-top: 0px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0px;
    padding-bottom: 3px;
    color: rgb(188, 221, 222);
}

.show-container {
    background-color: #443642;
    background-color: rgba(25, 28, 33, 1);
    background-color: #191c21;
}

.chatlog.channel {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #443642;
    background-color: rgba(25, 28, 33, 1);
    background-color: #191c21;
}

.chatlog-ul {
    margin-top: 0px;
    overflow-y: scroll;
    height: calc(100vh - 174px);
    /* height: 100%; */
    /* width: 84.6vw; */
    width: calc( 100vw - 220px);
    border-top: 1px solid #3b3c41;
    margin-bottom: 0px;
    /* margin-bottom: 3px; */
    padding-bottom: 5px;
    margin-left: 0px;
    padding-left: 0px;
}

/* 
.message-form-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.message-form-container {
    margin-top: 0px;
    width: calc( 100vw - 220px );
    /* height: calc(26vh - 64px); */
}

.input.message {
    width: calc(100vw - 310px);
    color: #D1D2D3;
    background-color: rgba(179, 179, 179, 0.04);
    margin-left: 20px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 49px;
    /* padding-right: 31px; */
    /* margin-right: 20px; */
    /* margin-bottom: 3px; */
    line-height: 1.46668;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    border: 1px solid #565856;
}

.input.message::placeholder {
    color: rgba(var(--sk_foreground_high_solid,134,134,134),1);
    font-weight: 300;
}

.input.message:focus {
    /* border-color: rgba(var(--sk_foreground_max,29,28,29),.7); */
    outline: 0;
    border: 1px solid rgba(232, 232, 232, 0.5);
    /* border */
}

.channel-top-info {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.cog {
    /* display: block; */
    filter: invert(0.7);
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    margin-top: 21px;
    margin-right: 37px;
}

.cog:hover {
    filter: invert(1);
}

.member-list {
    display: flex;
    justify-content: left;
}

.little-ch-icons {
    display: flex;
}

.star {
    filter: invert(100%) sepia(5%) saturate(570%) hue-rotate(175deg) brightness(89%) contrast(85%);
    margin-left: 20px;
    padding-right: 2px;
    margin-top: 4px;
    margin-bottom: 9px;
    color: #D1D2D3;
    cursor: pointer;
}

.star:hover {
    filter: invert(82%) sepia(99%) saturate(1437%) hue-rotate(322deg) brightness(101%) contrast(90%);
}

.pipe {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #55575a;
    margin-top: 2px;
    padding-left: 4px;
    padding-right: 6px;
}

.ch-hashtag {
    padding-right: 2px;
}

.member-list {
    cursor: pointer;
}

.member-list:hover .member-icon {
    filter: invert(54%) sepia(85%) saturate(1617%) hue-rotate(165deg) brightness(87%) contrast(87%);
}

.member-list:hover .member-count {
    color: #1d9bd1;
}

.member-icon {
    filter: invert(100%) sepia(5%) saturate(570%) hue-rotate(175deg) brightness(89%) contrast(85%);
    margin-left: 0px;
    padding-right: 2px;
    margin-top: 4px;
    margin-bottom: 9px;
    color: #D1D2D3;
}

.member-count {
    color: #D1D2D3;
    margin: 0px;
    padding: 0px;
    margin-top: 2px;
    /* margin-left: 40px; */
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 9px;
}

.hidden {
    display: none;
}

.outer-modal-close {
    /* position: fixed; */
    display: none;
    height: 100vh;
    width: 100vw;
    /* background-color: white; */
    /* z-index: 10; */
}