
.channel-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0a0b0d;
}

.channel-form {
    display: flex;
    max-width: 520px;
    height: 434px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.46668;
    font-weight: 400;
    color: #D1D2D3;
    /* text-align: left; */
    /* width: 100%; */
    /* padding: 10px; */
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;
    background-color: #443642;
    background-color: rgba(25,28,33,1);
    /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 1); */
    box-shadow: 0 0 0 1px rgba(232, 232, 232, 0.13),0 18px 48px 0 rgba(0,0,0,.35);
}

.create-form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* padding: 10px; */
}

.create-header {
    display: flex;
    width: 520px;
    justify-content: space-between;
}

.create-title {
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    font-family: Lato, sans-serif;
    font-size: 28px;
}

.x-button {
    filter: invert(0.7);
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
    /* height: 25px; */
    padding: 5px;
}

.x-button:hover {
    filter: invert(1);
    /* background-color: rgba(33,36,41,1);
    background-color: #443642; */
    background-color:#d1d2d399;
    padding: 5px;
    /* border-radius: 50%; */
}

.create-blurb {
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #ABABAD;
}

.create-input {
    border: 1px solid rgba(129,131,133,1);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* width: 50%; */
    width: 510px;
    font-size: 15px;
    background-color: rgba(25, 28, 33, 1);
    color: #D1D2D3;
}

.input-label {
    font-family: Lato, sans-serif;
    color: #D1D2D3;
}

.create-bottom {
    display: flex;
    width: 520px;
    justify-content: space-between;
    margin-top: 20px;
}

.form-button {
    border: none;
    cursor: pointer;
    /* background-color: rgb(97, 31, 105); */
    color: #443642;
    color: #fff;
    background-color: whitesmoke;
    background-color: #017a5a;
    /* background-color: lightgray; */
    /* background-color: #70cadb; */
    /* color: black; */
    text-align: center;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 450;
    line-height: 1.28571429;
    letter-spacing: .8px;
    font-size: 14px;
    /* text-transform: uppercase; */
    border-radius: 4px;
    padding: 10px 15px;
    transition: all 80ms linear;
}

.form-button:hover {
    /* background-color: #443642; */
    background-color: #138567;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    /* color: whitesmoke; */
    color: #ffffff;
}

.add-channel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0a0b0d;
    background-color: rgba(25,28,33,1);

}

.add-inner-container {
    width: 100vw;
    height: 80vh;
}

.add-top-container {
    display: flex;
    justify-content: space-around;
}

.add-channel-top {
    width: 640px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.add-browse {
    /* background-color: rgba(25,28,33,1); */
    /* width: 240 */
    margin: 0px;
    padding: 0px;
    margin-top: 45px;
    padding-left: 15px;
    font-family: Lato, sans-serif;
    font-size: 28px;
    /* padding-right: 150px; */
    color: #D1D2D3;
}

.add-browse.dm {
    margin-bottom: 10px;
}

.pub-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    font-size: 20px;
}

.add-blurb {
    width: 640px;
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    color: rgba(232, 232, 232, 0.7);
    /* border-bottom:  */
    margin:0px;
    margin-top: 0px;
    padding-left: 25px;
    margin-bottom: 5px;
    /* content: "\E01B"; */
}

.pub-ul {
    width: 640px;
    height: calc(80vh - 160px);
    text-align: left;
    list-style: none;
    color: #D1D2D3;
    margin-top: 0px;
    overflow-y: scroll;
    padding-left: 0px;
}

.pub-ul li:last-child {
    border-bottom: 1px solid rgb(53, 55, 59)
}

.pub-li {
    width: 90%;
    box-shadow: rgb(53, 55, 59) 0px -1px 0px 0px;
    padding-left: 10px;
    padding-top: 1px;
    margin-top: 1px;
    /* margin-right: -10px; */
    cursor: pointer;
    /* z-index: 2; */
    /* margin-right: 5px; */
}

.pub-li:hover {
    box-shadow: none;
    background-color: #212429
}

.pub-channel-name {
    font-size: 15px;
    font-weight: 300;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.dm-item {
    font-weight: 400;
}

.fake-search-dm {
    width: 80.47%;
    border: 1px solid rgb(209, 210, 211);
    border-radius: 4px;
    background-color: rgba(25,28,33,1);
    color: rgb(209, 210, 211);
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.33334;
    /* height: 479px; */
    margin-top: 4px;
    margin-left: 17px;
    margin-right: 12px;
    margin-bottom: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    /* cursor: pointer; */
    font-weight: 400;
    transition-property: border, box-shadow;
    transition-duration: 80ms, 80ms;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0s, 0s;
}

.fake-search-dm:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #1d9bd1,0 0 0 5px rgba(29,155,209,.3);
    border-radius: 4px;
    border-color: transparent;
    color: rgb(209, 210, 211);
}

.fake-search-dm:focus .fake-search-dm::placeholder {
    color: rgb(209, 210, 211);
}

.dm-form-button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 25px;
    padding-left: 25px;
    /* margin-bottom: 40px; */
    /* margin-top: -4px; */
    /* margin-top: 4px; */
    /* margin-left: 17px; */
    /* margin-right: 12px; */
    margin-bottom: 19px;
}
