#red-theme li, #blue-theme li, #green-theme li,#red-theme div, #blue-theme div, #green-theme div
,#red-theme p, #blue-theme p, #green-theme p,#red-theme h3, #blue-theme h3, #green-theme h3
,#red-theme span.hashtag, #blue-theme span.hashtag, #green-theme span.hashtag
,#red-theme span.clock, #blue-theme span.clock, #green-theme span.clock 
,#red-theme input, #blue-theme input, #green-theme input
,#red-theme input::placeholder, #blue-theme input::placeholder, #green-theme input::placeholder {
    color: #ffffff;
}

#red-theme .red, #red-theme .blue,#red-theme .yellow,#red-theme .green,
#blue-theme .red, #blue-theme .blue,#blue-theme .yellow,#blue-theme .green,
#green-theme .red, #green-theme .blue,#green-theme .yellow,#green-theme .green {
    color: #ffffff;
}

#yellow-theme .red, #yellow-theme .blue,#yellow-theme .yellow,#yellow-theme .green {
    color: #101820FF;
}

/* #dark-theme  */
/* .dark-theme, .dark-theme {color:#d1d2d3 !important;} */
/* #red-theme  */
/* .red-theme {color:#e01e5a !important;} */
/* #blue-theme  */
/* .blue-theme {color:rgb(29, 155, 209) !important;} */
/* #green-theme  */
/* .green-theme {color: #007a5a !important;} */

.colored {
    display: none;
}
.darkness-og, .flame, .waterdrop, .bolt, .tornado {
    display: none;
}

/* #red-theme .flame,#blue-theme .waterdrop,#yellow-theme .bolt,#green-theme .tornado {
    display: inline-block;
    filter: invert(0);
} */

#red-theme .blackhole, #blue-theme .blackhole, #yellow-theme .blackhole, #green-theme .blackhole {
    display: none;
}

#dark-theme .darkness-og, #red-theme .darkness-og, #blue-theme .darkness-og, #yellow-theme .darkness-og, #green-theme .darkness-og {
    display: inline-block;
}


#dark-theme .blackhole, #red-theme .colored, #blue-theme .colored, #yellow-theme .colored, #green-theme .colored {
    display: block;
}

#dark-theme .jump-to, #red-theme .jump-to, #blue-theme .jump-to, #yellow-theme .jump-to, #green-theme .jump-to {
    display: none;
}

#red-theme .home-top:hover, #blue-theme .home-top:hover, #yellow-theme .home-top:hover, #green-theme .home-top:hover {
    /* background-color: rgb(224, 30, 90); */
    /* background-color: #19171D; */
    background-color:#d1d2d333;
}

#red-theme .colored-logo, #blue-theme .colored-logo, #yellow-theme .colored-logo, #green-theme .colored-logo {
    display: none;
}

#red-theme .dark-logo, #blue-theme .dark-logo, #green-theme .dark-logo {
    display: inline-block;
    filter: invert(1);
}

#yellow-theme .dark-logo {
   display: inline-block; 
}

#red-theme .input.message,#blue-theme .input.message,#green-theme .input.message {
    border: 1px solid rgba(232, 232, 232, 0.5);
}

#red-theme .input.message:focus,#blue-theme .input.message:focus ,#green-theme .input.message:focus  {
    border: 1px solid #ffffff;
}

#red-theme .pub-li,#blue-theme .pub-li ,#green-theme .pub-li  {
    box-shadow: #ffffff 0px -1px 0px 0px;
}

#red-theme .pub-ul li:last-child,#blue-theme .pub-ul li:last-child,#green-theme .pub-ul li:last-child {
    border-bottom: 1px solid #ffffff;
}






#red-theme .home-container.sidebar {
    /* background-color: rgb(224, 30, 90); */
    background-color: #bf1f13;
    background-color: #e01e5a;
    background-color: #771D32;
}

#red-theme .chatlog-ul,#red-theme .show-container
,#red-theme .channel-top-info,#red-theme .channel-form 
,#red-theme .fake-search-dm,#red-theme .add-channel-container {
    /* background-color: rgb(224, 30, 90); */
    /* background-color: #bf1f13;
    background-color: #e65758;
    background-color: #771D32; */
    background-color: #e01e5a;
}

#red-theme .channel-form-container {
    background-color: #771D32;
}

#red-theme .input-label,#blue-theme .input-label,#green-theme .input-label{
    color: #ffffff;
}

#red-theme .create-input {
    color: #ffffff;
    background-color: #e01e5a;
    border: 1px solid #ffffff;
}

#red-theme .form-button {
    background-color: #ffffff;
    color: #e01e5a;
}

#red-theme .form-button:hover {
    color: #771D32;
}

#red-theme li.message:hover, #red-theme .pub-li:hover {
    background-color:#771D3230;
}

#red-theme .channel-li:hover {
    background-color:  #5d172799;
    background-color: #00000030;
}

#red-theme .current, #red-theme .current:hover  {
    background-color: #d1d2d333;
    background-color:  #5d1727d3;
    background-color: #00000060;
}


/* red font */
/* #red-theme .current, #red-theme .current .hashtag, #red-theme .current:hover, #red-theme .channel-li:hover, #red-theme .channel-li:hover .hashtag {
    color: #e01e5a;
}
#red-theme .message:hover .message-msg,#red-theme .message:hover .message-author,#red-theme .message:hover span.clock{
    color: #771D32;
} */






#blue-theme .show-container,#blue-theme .channel-top-info
,#blue-theme .chatlog-ul,#blue-theme .channel-form
,#blue-theme .add-channel-container{
    /* background-color: rgb(224, 30, 90); */
    /* background-color: rgb(29, 155, 209); */
    background-color: #36c5f0;
}

#blue-theme .home-container.sidebar,#blue-theme .channel-form-container {
    /* background-color: rgb(224, 30, 90); */
    background-color: rgb(29, 155, 209);
    /* background-color: #36c5f0; */
}

#blue-theme .create-input,#blue-theme .fake-search-dm {
    color: #ffffff;
    background-color: #36c5f0;
    border: 1px solid #ffffff;
}


#blue-theme .form-button {
    background-color: #ffffff;
    color: #36c5f0;
}

#blue-theme .form-button:hover {
    color: rgb(29, 155, 209);
}

#blue-theme .x-button, #red-theme .x-button, #green-theme .x-button {
    filter: invert(1);
}

#blue-theme .x-button:hover, #red-theme .x-button:hover, #green-theme .x-button:hover, #yellow-theme .x-button:hover {
    background-color:#d1d2d333;
}

#blue-theme li.message:hover, #blue-theme .pub-li:hover {
    background-color:#1d9bd135;
}

#blue-theme .channel-li:hover {
    background-color:  #187fab40;
    background-color: #00000030;
}

#blue-theme .current, #blue-theme .current:hover  {
    background-color: #d1d2d333;
    background-color:  #187fab80;
    background-color: #00000060;
}









#yellow-theme li,#yellow-theme div,#yellow-theme p,#yellow-theme h3,#yellow-theme span.hashtag
,#yellow-theme span.clock, #yellow-theme input,#yellow-theme input::placeholder
,#yellow-theme .input-label {
    /* color: #000000;
    color: #ffffff; */
    color: #101820FF;
}

#yellow-theme .show-container,#yellow-theme .channel-top-info,#yellow-theme .chatlog-ul
,#yellow-theme .channel-form, #yellow-theme .add-channel-container {
    /* background-color: rgb(242, 199, 68); */
    /* background-color: #ecb22d; */
    /* background-color: #e3ff73; */
    /* background-color: #DAFEA4; */
    background-color:#ffeb3b;
}

#yellow-theme .home-container.sidebar, #yellow-theme .channel-form-container {
    /* background-color: #e3ff73; */
    /* background-color: #ecb22d; */
    /* background-color: #e27c39; */
    background-color: rgb(242, 199, 68);
}

#yellow-theme .cog-li{
    color: #ffffff;
}

#yellow-theme .fake-search {
    color: #a1a3a6;
}

#yellow-theme .fake-search:hover {
    color: #101820FF;
}

#yellow-theme .create-input,#yellow-theme .fake-search-dm {
    background-color:#ffeb3b;
    border: 1px solid #101820FF;
}

#yellow-theme .down-arrow {
    filter: invert(0.1);
    /* filter: invert(1); */
}

/* #yellow-theme .sidebar-username {
    color: #ffffff;
} */

#yellow-theme .home-top:hover .down-arrow {
    filter: none;
}

#yellow-theme .input.message:focus {
    border: 1px solid #101820FF;
}

#yellow-theme .cog, #yellow-theme .create-button
,#yellow-theme .home-top:hover .down-arrow  {
    filter: none;
}

#yellow-theme .cog:hover {
    filter: invert(0.5);
}

#yellow-theme .create-button:hover
,#yellow-theme .contacts-link, #yellow-theme .contacts-git {
    filter: invert(1);
}

#yellow-theme li.message:hover,#yellow-theme .pub-li:hover {
    background-color:#f2c74450;
}

#yellow-theme .channel-li:hover {
    /* background-color:  #187fab40; */
    background-color: #00000030;
}

#yellow-theme .current, #yellow-theme .current:hover  {
    /* background-color: #d1d2d333;
    background-color:  #187fab80; */
    background-color: #00000060;
}

#yellow-theme .x-button {
    filter: none;
}

#yellow-theme .form-button {
    background-color: #101820FF;
    color: #ffeb3b;
}

#yellow-theme .form-button:hover {
    color: rgb(242, 199, 68);
}

#yellow-theme .pub-li {
    box-shadow: #101820FF 0px -1px 0px 0px;
}

#yellow-theme .pub-ul li:last-child {
    border-bottom:1px solid #101820FF;
}

/* #yellow-theme  */
/* .yellow-theme {color:rgb(242, 199, 68) !important;} */







#green-theme .show-container,#green-theme .channel-top-info
,#green-theme .chatlog-ul,#green-theme .channel-form
,#green-theme .fake-search-dm,#green-theme .add-channel-container  {
    /* background-color: #007a5a; */
    background-color: #2eb67d;
}

#green-theme .home-container.sidebar, #green-theme .channel-form-container {
    background-color: #007a5a;
}


#green-theme .create-input {
    color: #ffffff;
    background-color: #2eb67d;
    border: 1px solid #ffffff;
}

#green-theme .form-button {
    background-color: #ffffff;
    color: #2eb67d;
}

#green-theme .form-button:hover {
    color: #007a5a;
}

#green-theme li.message:hover, #green-theme .pub-li:hover {
    background-color:#007a5a35;
}

#green-theme .channel-li:hover {
    background-color: #00000030;
}

#green-theme .current, #green-theme .current:hover  {
    /* background-color: #d1d2d333; */
    background-color: #00000060;
}





#dark-theme .show-container, #dark-theme .channel-top-info
, #dark-theme .chatlog-ul ,#dark-theme .channel-form
, #dark-theme .add-channel-container, #dark-theme .input.message
,#dark-theme .home-container.sidebar, #dark-theme .channel-form-container {
    /* background-color: rgb(242, 199, 68); */
    /* background-color: #ecb22d; */
    /* background-color: #e3ff73; */
    /* background-color: #DAFEA4; */
    background-color: #000000;
}


.colors {
    text-decoration: none;
}

.colored-logo, .dark-logo {
    transform: rotate(90deg);
}

#red-theme .member-icon, #blue-theme .member-icon, #green-theme .member-icon, 
#red-theme .star, #blue-theme .star, #green-theme .star {
    filter: invert(1);
}

#yellow-theme .member-icon,#yellow-theme .star {
    filter: invert(0);
}

#red-theme .star:hover,#blue-theme .star:hover,
#yellow-theme .star:hover,#green-theme .star:hover {
    filter: none;
    filter: invert(82%) sepia(99%) saturate(1437%) hue-rotate(322deg) brightness(101%) contrast(90%);
}

#red-theme .member-list:hover .member-icon,#blue-theme .member-list:hover .member-icon,
#yellow-theme .member-list:hover .member-icon,#green-theme .member-list:hover .member-icon {
    filter: none;
    filter: invert(54%) sepia(85%) saturate(1617%) hue-rotate(165deg) brightness(87%) contrast(87%);
}

#red-theme .tack-hover:hover .tack,#blue-theme .tack-hover:hover .tack, 
#yellow-theme .tack-hover:hover .tack,#green-theme .tack-hover:hover .tack {
    filter: none;
    filter: invert(16%) sepia(96%) saturate(1147%) hue-rotate(308deg) brightness(95%) contrast(100%);
}

#red-theme .add-description-div:hover .pen,#blue-theme .add-description-div:hover .pen,
#yellow-theme .add-description-div:hover .pen,#green-theme .add-description-div:hover .pen {
    filter: none;
    filter: invert(31%) sepia(74%) saturate(1199%) hue-rotate(133deg) brightness(89%) contrast(99%);
}

#red-theme .add-description-div:hover .add-desc,#blue-theme .add-description-div:hover .add-desc,
#yellow-theme .add-description-div:hover .add-desc,#green-theme .add-description-div:hover .add-desc {
    color: #017a5a;
    filter: none;
}

#red-theme .member-list:hover .member-count,#blue-theme .member-list:hover .member-count,
#yellow-theme .member-list:hover .member-count,#green-theme .member-list:hover .member-count {
    color: #1d9bd1;
    filter: none;
}

#red-theme .tack-hover:hover .tack-count,#blue-theme .tack-hover:hover .tack-count,
#yellow-theme .tack-hover:hover .tack-count,#green-theme .tack-hover:hover .tack-count{
    color: #7c1d3d;
    filter: none;
}